@import "../../styles/index.scss";

.container_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 37px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    width: 100%;

    & a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;

        width: 169px;
        height: 24px;

        background: $primary;
        color: $disabled-text;

        border: 1px solid $primary;
        border-radius: 5px;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

            
    }
}